DB_HOST=localhost
DB_NAME=prvts_db
DB_USER=root
DB_PASS=
DB_PORT=3306
APP_URL=http://localhost/PRV_Tracking_System/public
APP_NAME="PRVTS - Postgraduate Research & Viva Tracking System"
APP_DEBUG=false
